/* pour le like */
.reaction-wrapper {
    position: relative;
    display: inline-block;
}

.reaction-options {
    position: absolute;
    bottom: 120%;
    left: 0;
    background: #fff;
    border-radius: 40px;
    padding: 6px 10px;
    display: flex;
    gap: 8px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all .2s ease;
    z-index: 100;
}

.reaction-wrapper:hover .reaction-options,
.reaction-wrapper.show .reaction-options {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.reaction-options span {
    font-size: 22px;
    cursor: pointer;
    transition: transform .15s ease;
}

.reaction-options span:hover {
    transform: scale(1.4);
}

.reaction-btn {
    display: flex;
    align-items: center;
    gap: 6px;
}



/* la messagerie */

/* Conteneur avatar */
.profile-avatar {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    padding: 4px;
    /* espace pour la bordure */
    transition: border 0.3s ease;
}

/* Image */
.profile-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* En ligne */
.profile-avatar.online {
    border: 3px solid #22c55e;
    box-shadow: 0 0 0 3px rgba(34, 197, 94, 0.3);
    /* vert */
}

/* Hors ligne */
.profile-avatar.offline {
    border: 3px solid #e5e7eb;
    /* gris clair */
}


/* notification sur la navbar */

.navbar .badge{
    font-size: 0.7rem;
    padding: 4px 6px;
    border-radius: 50px;
}

/* marquer le point rouge sur le message de navbar et mobile */
.navbar .fobic{
    border-radius: 50%;
    width: 8px;
    height: 8px;
}


/* Style de la page Contact */
.contact-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 420px;
}

.contact-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    color: #000000;
    border: solid 1px;
    margin-bottom: 5px;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.contact-item .left{
    display: flex;
    align-items: center;
    gap: 12;
}

.contact-item i{
    font-size: 20px;
}

.contact-item:hover{
    transform: translate(3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* couleur */
/* .whatsapp{background: #25D366;}
.messenger{background: #0084FF;}
.telegram{background: #0088cc;}
.instagram{background: linear-gradient(45deg,#f58529,#dd2a7b,#8134af);}
.linkedin{background: #0A66C2;}
.message{background: #34C759;}
.phone{background: #0A84FF;}
.email{background: #EA4335;} */

/* marquer les personne en ligne dans message */

.online-dot-message{
    position: absolute;
    bottom: 2px;
    right: 20px;
    width: 12px;
    height: 12;
    background: #28a745;
    border-radius: 50%;
    border: 1.5px solid white;
    /* animation: pulse 1.5s infinite; */
}

/* Pour animer le point vert */
/* @keyframes pulse {
    0% {
        transform: scale(1); opacity: 1;
    }

    100%{
        transform: scale(1.5); opacity: 0;
    }
} */